.log-in{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(0deg, #FDFDFD 16.63%, #AEE8FF 110.04%);
    display: flex;
     align-items: center;
     justify-content: center;
    
}

.log-in-form{
    width: 40vw;
    height: 38.5vw;
    padding: 1.5vw;
    border-radius: 1vw;
    background: #FDFDFD;
    box-shadow: 8px 6px 25px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.log-in-form-item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .log-in-logo{
    width: 10.5vw;
    height: auto;
 }

.log-in-welcome{
    color: #0F4081;
     font-size: 2vw;
     font-weight: 900;
 }

 .log-in-division{
    display: flex;
     flex-wrap: nowrap;
     align-items: center;
 }
 
 .log-in-division-bar{
    width: 5vw;
    height: 0.1vw;
    background: rgba(0, 0, 0, 0.30);
 }

 .log-in-desc{
    margin: 0 1vw;
    color: rgba(0, 0, 0, 0.40);
 }

.log-in form{
    width: 27vw;
    margin-top: 1.5vw;
    display: flex;
     flex-direction: column;
}
.log-in-input{
    width: 27vw;
    margin-bottom: 1.2vw;
    display: flex;
     flex-direction: column;
 }
 
 .log-in-input label{
    margin-bottom: 0.5vw;
    color: #000;
     font-size: 1.2vw;
     font-weight: 600;
 }

 .log-in-input input{
    width: 90%;
    height: 2.5vw;
    padding-right: 2.5vw;
    border: 0.5px solid #000;
     border-radius: 0.5vw;
    color: #000;
     font-family: 'Montserrat';
     font-size: 1vw;
 }

 .password-input{
    position: relative;
 }

 .password-eye{
    color: #000;
     font-size: 1.5vw;
    position: absolute;
     top: 22%;
     right: 2%;
    transition: color 1s ease;
    cursor: pointer;
 }

 .password-eye:hover{
    color: #141313af;
 }

.log-in button{
    width: 27vw;
    height: 2.7vw;
    margin-top: 1vw;
    background: #0F4081;
    border-radius: 0.5vw;
    color: #fff;
     font-family: "Montserrat";
     font-weight: 900;
     font-size: 1.2vw;
    transition: background 0.2s ease;
    cursor: pointer;
}

.log-in button:hover{
    background: #1760bf;
}