.etnews-page{
    padding-top: 4vw;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(253, 253, 253, 0.92) 0%, rgba(174, 232, 255, 0.65) 99.99%, rgba(32, 87, 90, 0.29) 100%);
}